.prompts-section {
    transition: height 0.3s ease;
  }
  
  .collapsed {
    height: 0;
    overflow: hidden;
  }
  
  .short-prompt {
    line-height: 1.6;
    margin-bottom: 20px;
    color: #d0d0d0;
    padding-right: 35px; /* To accommodate for button space */
  }